    <div class="container">
        
        <h2>Restaurant Table</h2>
        <table class="restaurant-table">
            <thead>
                <tr>
                    <th>Restaurant Id</th>
                    <th>Restaurant Name</th>
                    <th>Cuisine</th>
                    <th>Borough</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.restaurant_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.cuisine}}</td>
                    <td>{{this.borough}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="pagination">
            <a href="/api/restaurant/?page={{#previous page}}{{/previous}}&perPage={{perPage}}" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Previous</a>
            <a href="/api/restaurant/?page={{#next page}}{{/next}}&perPage={{perPage}}" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">Next</a>
        </div>
    </div>